@use 'base/_reset.scss';
@use 'base/_mixin.scss';
@use 'base/_global.scss';
@use 'base/_fonts.scss';
@use 'base/_button.scss';
@use 'base/_modal.scss';
@use 'base/_index.scss';
@use 'base/_header.scss';
@use 'base/_tabs.scss';
@use 'base/_back_animation.scss';
@use 'base/_marquee.scss';

@use 'base/_menu_mob.scss';
@use 'base/_mobail.scss';