@font-face { 
    font-family: "Inter";
    src: url("../fonts/Inter_28pt-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "Inter";
    src: url("../fonts/Inter_28pt-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "Inter";
    src: url("../fonts/Inter_28pt-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "Inter";
    src: url("../fonts/Inter_28pt-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}


@font-face { 
    font-family: "Gilroy";
    src: url("../fonts/GilroyRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "Gilroy";
    src: url("../fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "Gilroy";
    src: url("../fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "Gilroy";
    src: url("../fonts/Extra_Bold_Gilroy.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "Lack";
    src: url("../fonts/lack-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

