.items-wrap {
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: 60px;
}

.items {
	flex-shrink: 0;
	display: flex;
	gap: 60px;
	counter-reset: item;
	justify-content: space-around;
	min-width: 100%;
}


.marquee {
	animation: scroll 40s linear infinite;
}


.items-wrap:hover .marquee {
	animation-play-state: paused;
}


@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(calc(-100% - 20px));
	}
}
