.humb {
	transform: translate(0, 0);
	width: 35px;
	height: 35px;
	overflow: hidden;
	cursor: pointer;
	z-index: 9999;
	overflow: hidden;
}

.humb li {
	list-style: none;
	position: absolute;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, #2563eb 0%, #9333ea 100%);
	;
	transition: .7s;
}

.humb li:nth-of-type(1) {
	top: 20%;
	left: 0;
	transition-delay: .7s;
	opacity: 1;
}

.humb li:nth-of-type(2) {
	top: 50%;
	left: 0;
	transition-delay: 0s;
}

.humb li:nth-of-type(3) {
	top: 80%;
	right: 0;
	transition-delay: .7s;
	opacity: 1;
}

.humb.active li:nth-of-type(1) {
	left: 100%;
	transition-delay: 0s;
	opacity: 0;
}

.humb.active li:nth-of-type(2) {
	transform: translateY(-50%) rotate(405deg);
	transition-delay: .5s;
}

.humb.active li:nth-of-type(3) {
	right: 100%;
	transition-delay: 0s;
	opacity: 0;
}

.humb li:nth-of-type(2)::before {
	content: '';
	position: absolute;
	top: -150px;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #2563eb 0%, #9333ea 100%);
	;
	transform: rotate(90deg);
	transition: .7s;
	transition-delay: .5s;
}

.humb.active li:nth-of-type(2)::before {
	top: 0;
	transition-delay: .7s;
}

@media screen and (min-width:320px) and (max-width:1023px) {

	.no_scroll {
		overflow: hidden;
	}

	.nav {
		position: fixed;
		z-index: -98;
		width: 90vw;
		height: 80vh;
		left: 0;
		right: 0;
		top: 80px;
		pointer-events: none;
		margin: 0 auto;
	}

	.nav:before,
	.nav:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		background-color: var(--fon);
		border-bottom-right-radius: 200%;
		z-index: -1;
		transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
	}

	.nav:after {
		background-color: rgba(9, 9, 12, 1);
		background: var(--k-s);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 300%;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
	}

	.nav:before {
		-webkit-transition-delay: .2s;
		transition-delay: .2s;
	}

	.nav__content {
		visibility: hidden;
		width: 100%;
		padding: 75px 0;
		text-align: center;
		overflow: auto;
		height: 100%;
		padding-bottom: 100px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		
		ul{
			margin: 0 auto;
			li{
				width: 100%;
				text-align: center;
			}
		}
	}

	.nav__list {
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 2;
	}

	.nav__list-item {
		position: relative;
		display: block;
		-webkit-transition-delay: 0.8s;
		transition-delay: 0.8s;
		opacity: 0;

		overflow: hidden;

		-webkit-transform: translate(30px, 0%);
		transform: translate(30px, 0%);
		-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, -webkit-transform .2s ease;
		transition: opacity .2s ease, transform .2s ease;
		transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;

		a {
			text-transform: uppercase;
			background: -webkit-gradient(linear, left top, right top, from(#2563eb), to(#9333ea));
			background: linear-gradient(90deg, #2563eb 0%, #9333ea 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}



	/**/

	.header_nav {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;

		ul {
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 20px;
		}
	}

	body.nav-active .nav__content {
		visibility: visible;
	}

	body.nav-active .nav {
		visibility: visible;
		pointer-events: all;
	}

	body.nav-active .nav:before,
	body.nav-active .nav:after {
		width: 100%;
		height: 100%;
		border-radius: 15px;
	}

	body.nav-active .nav:after {
		-webkit-transition-delay: .1s;
		transition-delay: .1s;
	}

	body.nav-active .nav:before {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	body.nav-active .nav__list-item {
		opacity: 1;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
		transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
		transition: opacity .3s ease, transform .3s ease, color .3s ease;
		transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
	}

	body.nav-active .nav__list-item:nth-child(0) {
		-webkit-transition-delay: 0.7s;
		transition-delay: 0.7s;
	}

	body.nav-active .nav__list-item:nth-child(1) {
		-webkit-transition-delay: 0.8s;
		transition-delay: 0.8s;
	}

	body.nav-active .nav__list-item:nth-child(2) {
		-webkit-transition-delay: 0.9s;
		transition-delay: 0.9s;
	}

	body.nav-active .nav__list-item:nth-child(3) {
		-webkit-transition-delay: 1s;
		transition-delay: 1s;
	}

	body.nav-active .nav__list-item:nth-child(4) {
		-webkit-transition-delay: 1.1s;
		transition-delay: 1.1s;
	}

	body.nav-active .nav__list-item:nth-child(5) {
		-webkit-transition-delay: 1.2s;
		transition-delay: 1.2s;
	}

	body.nav-active .nav__list-item:nth-child(6) {
		-webkit-transition-delay: 1.3s;
		transition-delay: 1.3s;
	}

	body.nav-active .nav__list-item:nth-child(7) {
		-webkit-transition-delay: 1.4s;
		transition-delay: 1.4s;
	}

	body.nav-active .nav__list-item:nth-child(8) {
		-webkit-transition-delay: 1.5s;
		transition-delay: 1.5s;
	}

	body.nav-active .nav__list-item:nth-child(9) {
		-webkit-transition-delay: 1.6s;
		transition-delay: 1.6s;
	}

	body.nav-active .nav__list-item:nth-child(10) {
		-webkit-transition-delay: 1.7s;
		transition-delay: 1.7s;
	}

	body.nav-active .nav__list-item:nth-child(11) {
		-webkit-transition-delay: 1.8s;
		transition-delay: 1.8s;
	}
}
