@media screen and (min-width:320px) and (max-width:1199px) {

	.grid_container {
		width: 100%;
		padding: 0 5vw;
	}

}


@media screen and (min-width:768px) and (max-width:1200px) {
	.grid_container {
		padding: 0 4vw;
	}
}

@media screen and (min-width:1024px) and (max-width:1200px) {}

@media screen and (min-width:1200px) {


	.header_nav li:hover > .sub-menu {
		transform: rotateX(0deg);
		visibility: visible;
		opacity: 1;
		z-index: 11;
		transition: all 0.2s ease-out
	}

	.humb {
		display: none;
	}

}
