@use 'mixin'as *;

.box_tab {
	overflow: hidden;
	display: none;
	opacity: 0;
	transition: all .4s ease-out;
}

.box_tab.active {
	display: flex;
	height: auto;
	opacity: 1;
}

.solutions_box .box_tab.active {
	display: grid;
}

.products_tab_nav {
	position: relative;
}

.tabs_catalog {
	user-select: none;

	* {
		cursor: pointer;
		user-select: none;
	}
}

//
//.tab_indicator {
//	position: absolute;
//	bottom: 0;
//	left: 0;
//	height: 52px;
//	width: 0;
//	border: 2px solid #1f4ba5;
//	border-radius: 100px;
//	-webkit-transition: width .3s ease, -webkit-transform .3s ease;
//	transition: width .3s ease, -webkit-transform .3s ease;
//	transition: transform .3s ease, width .3s ease;
//	transition: transform .3s ease, width .3s ease, -webkit-transform .3s ease;
//}
